/*
--- INSPIRATION WEBSITE
https://opulentstudio.framer.website/

https://brownfoliotemplate.webflow.io/

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 500

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Large: 1.6

- Letter spacing

--- 02 COLORS

- Primary: 

#153656
#B32522


- Tints:

- Shades:
#061621

- Accents: 

- Greys



--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default:
Medium:

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

#f0eee9

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
