@media screen and (min-width: 1011px) {
  .flex-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: row; */
  }
  .img-container {
    width: 31.2vw;
    height: 200px;
  }
  .grid-bigscreen {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }
  .border-section {
    margin-left: 5px;
    margin-right: 10px;

    border-bottom: 0.3rem solid #061621;
  }
  .gains-absolute {
    position: absolute;
    bottom: -1310px;
    left: 200px;
  }
  .card--media-container {
    height: 435px;
  }
  .nav-al {
    font-size: 2rem;
  }
  .logo-style {
    scale: 1.5;
    margin: 20px;
  }
  .btn-join {
    scale: 1.3;
  }
}

@media screen and (max-width: 1010px) {
  .card {
    border-bottom: 0.3rem solid #061621;
  }
  .gains-absolute {
    display: none;
  }
  .card--media-container {
    height: 500px;
  }
}
