@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero */

.nav-list {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  color: #faf9f6;
  list-style: none;
}

h1 {
  color: #faf9f6;
}

.header-background {
  background-image: url(../img/dumbell.jpg);

  border-bottom: 0.3rem solid #061621;

  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90svh;
  height: 90vh;
}

.navigation {
  padding: 20px;
}

.list-item {
  align-items: end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-list {
  gap: 20px;
}

.nav-al {
  padding-bottom: 2px;
}

.btn-join {
  margin-left: 30px;
  background: #b32522;
  /* border: solid 1px #061621; */
  color: #faf9f6;
  padding: 5px 10px 5px 10px;
}

#tag {
  font-size: 1.4rem;
  font-weight: 500;
  color: #faf9f6;

  text-shadow: 5px 3px #061621;

  position: absolute;
  left: 50px;
  bottom: 50px;
}

/* Cards */

.info-btn {
  background: #153656;
  color: #faf9f6;
}

.card {
  margin: 10px 10px 10px 10px;
  border-bottom: 0.3rem solid #061621;
  box-shadow: 5px 3px 2rem #0616212c;

  /* box-shadow: 5px 3px 2rem #06162140; */

  /* box-shadow: 5px 3px 2rem rgba(217, 217, 217, 0.251);  */
}

.card-h5 {
  margin: 0.5rem;
  color: #67778a;
}

.card-p {
  color: #222222;
}

/* About */

.about-wrapper {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 5px 3px 2rem #0616211e;
}

.h2-el1 {
  color: #b32522;
  padding: 0.3rem;
}

.h2-el2 {
  color: #153656;
  padding-bottom: 1rem;
}

.about-p {
  font-weight: 400;
  padding: 0.5rem;

  line-height: 1.2rem;
}

/* Contact */

.form-wrapper {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 5px 3px 2rem #0616211e;
}

.free-style {
  border-bottom: 0.3rem solid rgb(229, 183, 66);
}

.input-wrap {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.label-style {
  padding: 0.5rem;
}

.input-style {
  margin-bottom: 1rem;
}

.submit-btn {
  padding: 0.5rem;
  letter-spacing: 0.05rem;
  text-align: center;
  font-weight: 600;
  border-radius: 9px;
  border: none;
  cursor: pointer;

  background-color: #2765a4;
  color: #faf9f6;
}

/* FOOTER */

.footer-style {
  color: #faf9f6;
  background-color: #153656;
}

.contact-wrapper {
  padding: 1.6rem;
  box-shadow: 5px 3px 2rem #0616211e;
}

.contact-space {
  margin-bottom: 1.6rem;
}

.footer-space {
  margin-bottom: 2rem;
}
